---
---

@import "{{ site.theme }}";

header {
background-image: url("https://combioconference.github.io/bibm2022-workshop/assets/css/logo1.jpeg") !important;
background-position: center;
background-size: 100% auto;
font-family: helvetica, arial, sans-serif;
text-shadow: 2px 2px 4px #000000;
}
